<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="bg-secondary">
<header th:replace="~{fragments/commons::nav}"></header>
<main>


    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">All
                    vessels</strong></h1>
        </div>

        <!--        <div class="row mt-3 mb-3">-->
        <div class="container bg-blur rounded p-4 mt-1 w-75">
            <h3 class="mySticky bg-gray text-light rounded text-center"
                th:text="|Total Ships: *{ships.size()}|"></h3>
            <div class="col-5 bg-dark rounded m-auto" style="height: 80vh; overflow: auto">

                <div th:each="ship : ${ships}" class="mt-3 rounded badge-warning">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="font-weight-bold">Ship name</td>
                            <td th:text="*{ship.name}"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Flag</td>
                            <td th:text="*{ship.flag}"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Date of registry</td>
                            <td th:text="*{ship.registryDate}"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Capacity</td>
                            <td th:text="*{ship.capacity}"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Additional info</td>
                            <td th:text="*{ship.additionalInfo}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-2">
                        <form th:action="@{/ships/{shipId}/remove(shipId=*{ship.id})}"
                              th:method="DELETE">
                            <button type="submit" class="btn btn-info w-50">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr class="bg-light">
        </div>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
