<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/commons::head}">
</head>
<body class="bg-secondary">

<header th:replace="~{fragments/commons::nav}">
</header>

<main role="main" class="bg-secondary">
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">
                    Prepare contract</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form  th:action="@{/contracts/add}"  th:method="post" th:object="${addContractDto}"
                  class=" text-center text-light">

                <div th:if="${message}">
                    <p th:text="${message}" class="bg-blur alert bg-danger" ></p>
                </div>

                <div class="form-group row">
                    <label for="employee" class="col-sm-2 col-form-label">Employee</label>
                    <div class="col-sm-10">
                        <select th:field="|*{employeeId}|" th:errorclass="is-invalid" id="employee" name="employee" class="custom-select"
                                aria-describedby="employeeTypeHelpInline">
                            <option value="" selected>Employee</option>
                            <option th:each="e : ${employees}" th:value="${e.id}" th:text="|${e.getFirstName()} ${e.getLastName()}|"></option>
                        </select>
                        <small id="employeeTypeHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            You must select employee.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ship" class="col-sm-2 col-form-label">Ship name</label>
                    <div class="col-sm-10">
                        <select th:field="*{shipId}" th:errorclass="is-invalid" id="ship" name="ship" class="custom-select"
                                aria-describedby="shipTypeHelpInline">
                            <option value="" selected>Ship name</option>
                            <option th:each="s : ${ships}" th:value="${s.id}" th:text="${s.name}"></option>
                        </select>
                        <small id="shipTypeHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            You must select ship.
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="startDate" class="col-sm-2 col-form-label">Start date</label>
                    <div class="col-sm-10">
                        <input th:field="*{startDate}" th:errorclass="is-invalid" type="date" class="form-control" id="startDate"
                               aria-describedby="startDateDateHelpInline" placeholder="Start date">
                        <small id="startDateTimeHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            Please enter Start Date which cannot be in the past.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="disembarkDate" class="col-sm-2 col-form-label">Expiry date</label>
                    <div class="col-sm-10">
                        <input th:field="*{disembarkDate}" th:errorclass="is-invalid" type="date" class="form-control" id="disembarkDate"
                               aria-describedby="disembarkDateHelpInline" placeholder="Disembark date">
                        <small id="disembarkDateTimeHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            Please enter Disembark Date which cannot be in the past.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="salary" class="col-sm-2 col-form-label">Salary</label>
                    <div class="col-sm-10">
                        <input th:field="*{salary}" th:errorclass="is-invalid" type="number" class="form-control" id="salary"
                               aria-describedby="salaryHelpInline" placeholder="salary">
                    </div>
                </div>

                <button type="submit" class="btn btn-info w-50">Add contract</button>
            </form>
            <hr class="bg-light">
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}">

</footer>
</body>
</html>