<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head}">
</head>

<body class="bg-secondary">

<header th:replace="~{fragments/commons::nav}">
</header>

<main role="main" class="bg-secondary">

    <div class="jumbotron">
        <div class="container text-dark text-center">
            <h1 class="display-3"><strong class="rounded">Welcome to</strong></h1>
            <h1 class="display-3"><strong class="rounded">Daniel's</strong></h1>
            <h1 class="display-3"><strong class="rounded">Maritime Application</strong></h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <img width="50px" src="/images/directions.png" alt="Ship image">
                    <h2 class="pl-5">Introduction</h2>
                </div>
                <p class="mt-3 ">Shipping is our Art !
                    We cover all parts and aspects
                    of modern shipping business.
                    Since its establishment, has been steadily growing during the years
                    thanks to its service excellence orientation and clientele.
                </p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <img width="50px" src="/images/compass.png" alt="Ship image">
                    <h2 class="pl-5">Our Vision</h2>
                </div>
                <p class="mt-3">
                    Business concept is entirely modelled around strong
                    and long-lasting client relationships,
                    which are ultimately based on trust.
                </p>
            </div>
            <div class="col-md-4 ">
                <div class="row">
                    <img width="50px" src="/images/startimg.png" alt="Ship image">
                    <h2 class="pl-5">About us</h2>
                </div>
                <p class="mt-3">Established in 2010 in Varna, Bulgaria as a fully
                    independent international ship-manning house.
                    The Company is mainly focused in the dry bulk shipping sector
                    and more specifically offering services within the coaster-handy
                    size segment (3000-35,000 mts).
                </p>
            </div>
        </div>
        <hr class="bg-light">
    </div>
</main>

<footer th:replace="~{fragments/commons::footer}">
</footer>

</body>
</html>